<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <a href="/customer/new"> Add New Customer</a>
    {{#if success}}
        <div class="alert alert-danger">{{success}}</div>
    {{/if}}
    <table border=1>
        <tbody>
            <th>User Name</th>
            <th>Email</th>
            <th>Actions</th>
            {{#customers}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>
                    <a href="/customer/{{id}}">Show</a>
                    <a href="/customer/edit/{{id}}">Edit</a>
                    <a href="/customer/delete/{{id}}">Delete</a>
                </td>
            </tr>
            {{/customers}}
        </tbody>
    </table>
</body>
</html>